In [1]:
import mysql.connector as mysql
import numpy as np
import base64
import PIL
from PIL import Image as Image
import io
import re
import pandas as pd


'''
Basic DB Functions
'''
def dfQuery(query):
    cnx = mysql.connect(
        host="db",
        port=3306,
        user="root",
        password="datascience")
    cur = cnx.cursor()

    # Execute a query
    cur.execute(query)

    # Fetch one result
    result = cur.fetchall()
    field_names = [ i [0] for i in cur.description ]
    df = pd.DataFrame( result, columns=field_names)
    
    cnx.close()
    return df

In [2]:
dfQuery('select * from stargazer.hills_encoded limit 1;')

,index,NBHC_x,STR,tBEDS,tBATHS,tSTORIES,tUNITS,tBLDGS,ACT,EFF,HEAT_AR,BASE,ACREAGE,encoded_x,encoded_y,Date,REA_CD
0,774332,227002.0,7683,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.397661,-0.196108,-2.30864,2000-01-28,05

In [14]:
def getDateRange():
    start = dfQuery(f"select distinct Date from stargazer.hills_encoded order by Date ASC limit 1;")
    end = dfQuery(f"select distinct Date from stargazer.hills_encoded order by Date DESC limit 1;")
    start = start.values[0][0]
    end = end.values[0][0]
    print(start,end)
getDateRange()

2000-01-28 2021-08-11